
<style>
  {% render 'responsive-background-image' with section.settings.image_1, selector: '.collection-1', scale: 1 %}
  {% render 'responsive-background-image' with section.settings.image_2, selector: '.collection-2', scale: 1 %}
  {% render 'responsive-background-image' with section.settings.image_3, selector: '.collection-3', scale: 1 %}
  {% render 'responsive-background-image' with section.settings.image_4, selector: '.collection-4', scale: 1 %}

  .mosaic-half-quarter, .mosaic-quarter, .mosaic-col  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>


{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper custom-no-padding  homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper custom-no-padding  homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper  custom-no-padding homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper custom-no-padding homepage-sections-wrapper--dark">
{% endcase %}

  <div class="custom-no-padding custom-no-margin container">
    <div class="mosaic-collection">
      <div class="mosaic-col collection-1">
        <div>
          <a href="{{ section.settings.button_link_1 }}" class="btn btn-custom">
              {{ section.settings.button_1 }}
          </a>
       </div>
      </div>
      <div class="mosaic-col custom-flex-col">
        <div class="mosaic-quarter collection-2">
          <a href="{{ section.settings.button_link_2 }}" class="btn btn-custom">
              {{ section.settings.button_2 }}
          </a>
        </div>
        <div class="custom-flex-row mosaic-quarter">
          <div class="mosaic-half-quarter collection-3">
            <a href="{{ section.settings.button_link_3 }}" class="btn btn-custom">
              {{ section.settings.button_3 }}
            </a>
          </div>
          <div class="mosaic-half-quarter collection-4">
            <a href="{{ section.settings.button_link_4 }}" class="btn btn-custom">
              {{ section.settings.button_4 }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Mosaic Collection List",
  "class": "homepage-section--featured-collections-wrapper wow fadeIn",
  "settings": [
    {
      "type": "select",
      "id": "colors",
      "label": "Color scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": {
              "en": "White",
              "de": "Weiß",
              "es": "Blanco",
              "fr": "Blanc",
              "pt-PT": "Branco"
          }
        },
        {
          "value": "light",
          "label": {
              "en": "Light",
              "de": "Licht",
              "es": "Luz",
              "fr": "Clair",
              "pt-PT": "Claro"
          }
        },
        {
          "value": "accent",
          "label": {
              "en": "Feature",
              "de": "Eigenschaft",
              "es": "Destacado",
              "fr": "Caractéristique",
              "pt-PT": "Funcionalidade"
          }
        },
        {
          "value": "dark",
          "label": {
              "en": "Dark",
              "de": "Dunkel",
              "es": "Oscuro",
              "fr": "Foncé",
              "pt-PT": "Escuro"
          }
        }
      ]
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Collection 1 Image"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "Button link 1"
    },
    {
      "type": "text",
      "id": "button_1",
      "label": "Collection 1 Button"
    },
        {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Collection 2 Image"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "Button link 2"
    },
    {
      "type": "text",
      "id": "button_2",
      "label": "Collection 2 Button"
    },
        {
      "type": "collection",
      "id": "collection_3",
      "label": "Collection 3"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Collection 3 Image"
    },
    {
      "type": "url",
      "id": "button_link_3",
      "label": "Button link 3"
    },
    {
      "type": "text",
      "id": "button_3",
      "label": "Collection 3 Button"
    },
        {
      "type": "collection",
      "id": "collection_4",
      "label": "Collection 4"
    },
    {
      "type": "image_picker",
      "id": "image_4",
      "label": "Collection 4 Image"
    },
    {
      "type": "url",
      "id": "button_link_4",
      "label": "Button link 4"
    },
    {
      "type": "text",
      "id": "button_4",
      "label": "Collection 4 Button"
    }
  ],
  "presets": [
    {
      "name": "Mosaic Collection List",
      "category": "Collection"
    }
  ]
}
{% endschema %}
