{%- assign product1 = all_products[section.settings.product_1] -%}
{%- assign product2 = all_products[section.settings.product_2] -%}
{%- assign product3 = all_products[section.settings.product_3] -%}
{%- assign product4 = all_products[section.settings.product_4] -%}
{%- assign product5 = all_products[section.settings.product_5] -%}
{%- assign product6 = all_products[section.settings.product_6] -%}

<style>
    {% render 'responsive-background-image' with product1.featured_image, selector:".product1", scale: 1 %}
    {% render 'responsive-background-image' with product2.featured_image, selector:".product2", scale: 1 %}
    {% render 'responsive-background-image' with product3.featured_image, selector:".product3", scale: 1 %}
    {% render 'responsive-background-image' with product4.featured_image, selector:".product4", scale: 1 %}
    {% render 'responsive-background-image' with product5.featured_image, selector:".product5", scale: 1 %}
    {% render 'responsive-background-image' with product6.featured_image, selector:".product6", scale: 1 %}
</style>

<div class="mosaic-products-container homepage-sections-wrapper homepage-sections-wrapper--light">
    <div class="mosaic-products-col1"> 
        <div class="mosaic-products-row2">
            <div class="mosaic-products-col2 product1">
                <a href = {{product1.url}}>
                    <div class="mosaic-hover-description">
                        <h4>{{product1.title}}</h4>
                        <h4>{{product1.price | money }}</h4>
                    </div>
                </a>
            </div>
            <div class="mosaic-products-col2 product2">
                <a href = {{product2.url}}>
                    <div class="mosaic-hover-description">
                        <h4>{{product2.title}}</h4>
                        <h4>{{product2.price | money }}</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="mosaic-products-row1 product3">
            <a href = {{product3.url}}>
                <div class="mosaic-hover-description">
                    <h4>{{product3.title}}</h4>
                    <h4>{{product3.price | money }}</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="mosaic-products-col1">
        <div class="mosaic-products-row1 product4">
            <div class="mosaic-hover-description">
                <a href = {{product4.url}}>
                    <h4>{{product4.title}}</h4>
                    <h4>{{product4.price | money }}</h4>
                </a>
            </div>
        </div>        
        <div class="mosaic-products-row2">
            <div class="mosaic-products-col2 product5">
                <a href={{product5.url}}>
                    <div class="mosaic-hover-description">
                        <h4>{{product5.title}}</h4>
                        <h4>{{product5.price | money }}</h4>
                    </div>
                </a>    
            </div>
            <div class="mosaic-products-col2 product6">
                <a href = {{product6.url}}>
                    <div class="mosaic-hover-description">
                        <h4>{{product6.title}}</h4>
                        <h4>{{product6.price | money }}</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Mosaic Featured Products",
    "class": "custom-mosaic-featured-products",
    "settings": [
        {
            "type": "product",
            "id": "product_1",
            "label": "product_1"
        },
        {
            "type": "product",
            "id": "product_2",
            "label": "product_2"
        },
        {
            "type": "product",
            "id": "product_3",
            "label": "product_3"
        },
        {
            "type": "product",
            "id": "product_4",
            "label": "product_4"
        },
        {
            "type": "product",
            "id" : "product_5",
            "label": "product_5"
        },
        {
            "type": "product",
            "id": "product_6",
            "label": "product_6"
        }
    ],
    "presets": [
        {
            "name": "Mosaic Featured Products",
            "category": "Product"
        }
    ]
}

{% endschema %}